Repository FSU-SP2023-SELab/group-1-lottopool, pull requests merged in 2023-04, with the labels that each got.

#31 Add Auth0 to project
  .vscode/launch.json
  .vscode/settings.json
  backend/requirements.txt
  backend/src/__init__.py
  backend/src/blueprints/__init__.py
  backend/src/blueprints/messages/__init__.py
  backend/src/blueprints/messages/error_messages.py
  backend/src/blueprints/messages/message.py
  backend/src/blueprints/messages/messages_views.py
  backend/src/blueprints/security/__init__.py
  backend/src/blueprints/security/auth0_service.py
  backend/src/blueprints/security/guards.py
  backend/src/utils.py
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/login-button/index.tsx
  frontend/src/components/login-button/login-button.tsx
  frontend/src/components/navbar/index.ts
  frontend/src/components/navbar/navbar.tsx
  frontend/src/index.tsx
  frontend/src/routes/home-page.tsx
  frontend/src/routes/home-page/home-page.tsx
  frontend/src/routes/home-page/index.ts
  frontend/src/routes/home-page/types.d.ts
  frontend/src/routes/profile-page/index.ts
  frontend/src/routes/profile-page/profile-page.tsx
  frontend/src/types.ts
Labels: frontend, backend

#34 Add Database Initialization + Models
  .github/workflows/testing.yml
  backend/docs/Makefile
  backend/docs/make.bat
  backend/docs/source/_static/css/functions.css
  backend/docs/source/_templates/layout.html
  backend/docs/source/conf.py
  backend/docs/source/generated/models.agency.rst
  backend/docs/source/generated/models.rst
  backend/docs/source/index.rst
  backend/requirements.txt
  backend/schema/schema.sql
  backend/src/__init__.py
  backend/src/blueprints/__init__.py
  backend/src/blueprints/db_handler.py
  backend/src/db/__init__.py
  backend/src/models/__init__.py
  backend/src/models/agency.py
  backend/src/models/income.py
  backend/src/models/payout.py
  backend/src/models/pool.py
  backend/src/models/ticket.py
Labels: enhancement, backend

#36 Add Backend Endpoints
  backend/schema/sample_data.sql
  backend/schema/schema.sql
  backend/src/__init__.py
  backend/src/blueprints/__init__.py
  backend/src/blueprints/admin.py
  backend/src/blueprints/api.py
  backend/src/blueprints/messages/__init__.py
  backend/src/blueprints/messages/message.py
  backend/src/blueprints/messages/messages_views.py
  backend/src/blueprints/security/guards.py
  backend/src/models/__init__.py
  backend/src/models/balance.py
  backend/src/models/pool.py
  backend/src/models/ticket.py
  backend/tests/__init__.py
  backend/tests/fixtures.py
  backend/tests/test_example.py
Labels: enhancement, backend

#35 Stripe Integration
  backend/requirements.txt
  backend/src/__init__.py
  backend/src/blueprints/__init__.py
  backend/src/blueprints/payment/__init__.py
  backend/src/blueprints/payment/stripe_service.py
  frontend/src/components/checkout-button/checkout-button.tsx
  frontend/src/components/checkout-button/index.tsx
  frontend/src/components/navbar/navbar.tsx
Labels: enhancement, frontend, backend
